'use strict';

exports.aggregate =function (result, method){


    switch(method){
        {{#lClass}}
            {{#operations}}
                {{#operation}}
        case '{{nickname}}':
            //TODO Operation or function to process the data
            return result;
        break;
                {{/operation}}
            {{/operations}}
        {{/lClass}}
    }


}