'use strict';

{{#operations}}
var {{classname}} = require('../{{implFolder}}/{{classname}}Service');
{{#operation}}

module.exports.{{nickname}} = function {{nickname}} (req, res, next) {

    {{classname}}.{{nickname}}(req.swagger.params, res, next);

};
{{/operation}}
{{/operations}}
