{
  "name": "{{projectName}}",
  "description": "{{{appDescription}}}",
  "main": "index.js",
  {{^googleCloudFunctions}}
  "scripts": {
    "prestart": "npm install",
    "start": "node index.js"
  },
  {{/googleCloudFunctions}}
  "keywords": [
    "OAI"
  ],
  "license": "Unlicense",
  "private": true,
  "dependencies": {
    "body-parser": "^1.18.3",
    "express": "^4.17.1",
    "js-yaml": "^3.3.0",
    "mqtt": "^4.2.6",
    "oas-tools": "^2.1.5"
  }
}
