'use strict';

var sender = require('../managers/communication.js');
var params = require('../util/parameters.js');
var body;

{{#operations}}
{{#operation}}
/**
 {{#summary}}
 * {{{summary}}}
 {{/summary}}
 {{#notes}}
 * {{{notes}}}
 {{/notes}}
 *
{{#allParams}}
 * {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
{{/allParams}}
{{^returnType}}
 * no response value expected for this operation
{{/returnType}}
{{#returnType}}
 * returns {{{returnType}}}
{{/returnType}}
 **/
var params{{{operationId}}}=[{{#allParams}}"{{paramName}}"{{#hasMore}},{{/hasMore}}{{/allParams}}];
module.exports.{{{operationId}}} = function(req, res, next) {

    body={}
    body=params.getParams(req,params{{{operationId}}})
    sender.sendRequest(body,'{{{classname}}}','{{{operationId}}}',res);

};


{{/operation}}
{{/operations}}