{{>licenseInfo}}
package {{package}};


{{#hasModel}}
import {{modelPackage}}.*;
import {{responsePackage}}.*;
{{/hasModel}}

import java.util.*;
import org.json.*;


{{#imports}}import {{import}};
{{/imports}}



import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.io.UnsupportedEncodingException;
import android.content.Context;
import org.openapitools.server.service.MqttClient;
import org.openapitools.server.service.MQTTService;
import org.eclipse.paho.client.mqttv3.MqttException;


{{#operations}}
public class {{classname}} {

    private Context context;
    private MqttClient client;

    private {{classnameResponse}} {{classVarName}}Response;

    public {{classname}}(Context context) {
        this.context = context;
        client = new MqttClient();
    }

  public Exception executeMethod({{classnameResponse}} response) throws MqttException, UnsupportedEncodingException{

        {{classVarName}}Response=response;

      switch (response.getMethod()){
        {{#operation}}
          case "{{nickname}}":
           {{nickname}}({{#allParams}}response.getParams().get{{paramName}}(){{#hasMore}},{{/hasMore}}{{/allParams}});
          break;
        {{/operation}}
          default:
              client.publishMessage( MQTTService.getClient(), "Error: Not Found Method",1,{{classVarName}}Response.getSender());
              return new Exception("Not found method.");
      }

      return null;
  }

  {{#operation}}
  /**
  * {{summary}}
  * {{notes}}
{{#allParams}}   * @param {{paramName}} {{description}}
{{/allParams}}   * @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
  */
  public void {{nickname}} ({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) throws MqttException, UnsupportedEncodingException{

     //TODO: Process the information, etc.



     //TODO: Return {{#returnType}}{{{returnType}}}{{/returnType}} on reply.
      client.publishMessage( MQTTService.getClient(), "{{nickname}} OK",1,{{classVarName}}Response.getSender());
  }
  {{/operation}}





}
{{/operations}}