{{>licenseInfo}}
package {{package}};


{{#hasModel}}
import {{modelPackage}}.*;
import {{responsePackage}}.*;
{{/hasModel}}

import java.util.*;
import org.json.JSONArray;
import org.json.JSONException;
import org.json.JSONObject;


{{#imports}}import {{import}};
{{/imports}}



import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;
import android.content.Context;
import com.android.volley.Request;
import com.android.volley.RequestQueue;
import com.android.volley.Response;
import com.android.volley.VolleyError;
import com.android.volley.toolbox.JsonObjectRequest;
import com.android.volley.toolbox.Volley;
import android.util.Log;
import android.widget.Toast;


{{#operations}}
public class {{classname}} {

    private Context context;
    private RequestQueue request;

    private {{classnameResponse}} {{classVarName}}Response;

    public {{classname}}(Context context) {
        this.context = context;
        request = Volley.newRequestQueue(context);

    }

  public Exception executeMethod({{classnameResponse}} response){

        {{classVarName}}Response=response;

      switch (response.getMethod()){
        {{#operation}}
          case "{{nickname}}":
            {{nickname}}({{#allParams}}response.getParams().get{{paramName}}(){{#hasMore}},{{/hasMore}}{{/allParams}});
            break;
        {{/operation}}
          default:
          return new Exception("Not found method.");
      }

      return null;
  }

  {{#operation}}
  /**
  * {{summary}}
  * {{notes}}
{{#allParams}}   * @param {{paramName}} {{description}}
{{/allParams}}   * @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
  */
  public void {{nickname}} ({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}){

    //TODO: Process the information, etc.



    //TODO: Return {{#returnType}}{{{returnType}}}{{/returnType}} on reply
    //sendReply({{classVarName}}Response.getSender(), {{classVarName}}Response.getIdRequest(), null)

  }
  {{/operation}}


    //TODO: Change for your configuration
    private void sendReply(String url, String idRequest, JSONObject result) {
            JsonObjectRequest jsonObjectRequest = null;


            JSONObject content= null;
            try {
                content=new JSONObject();
                content.put("idRequest",idRequest);
                content.put("body",result);


            } catch (JSONException e) {
                e.printStackTrace();
            }


            jsonObjectRequest = new JsonObjectRequest(Request.Method.POST, url, content, new Response.Listener<JSONObject>() {
                @Override
                public void onResponse(JSONObject response) {
                    Log.d("OK: ", String.valueOf(response));

                }
            }, new Response.ErrorListener() {
                @Override
                public void onErrorResponse(VolleyError error) {
                    Toast.makeText(context, error.toString(), Toast.LENGTH_LONG).show();
                    System.out.println();
                    Log.d("ERROR: ", error.toString());
                }
            }
            );


            request.add(jsonObjectRequest);


    }
}
{{/operations}}