package org.openapitools.server;

import android.app.Activity;
import android.content.BroadcastReceiver;
import android.app.NotificationManager;
import android.content.Context;
import android.content.Intent;
import android.content.IntentFilter;
import android.os.AsyncTask;
import android.os.Bundle;
import androidx.annotation.NonNull;
import androidx.localbroadcastmanager.content.LocalBroadcastManager;
import android.util.Log;
import android.widget.ArrayAdapter;
import android.widget.ListView;
import android.widget.TextView;


import com.google.android.gms.tasks.OnCompleteListener;
import com.google.android.gms.tasks.Task;
import com.google.firebase.iid.FirebaseInstanceId;
import com.google.firebase.iid.InstanceIdResult;

import org.openapitools.server.notification.NotificationClass;
import org.openapitools.server.notification.NotificationDatabase;
import com.google.firebase.messaging.FirebaseMessaging;
import android.widget.Toast;

import java.util.ArrayList;



public class MainActivity extends Activity {

    private static final String TAG = "MainActivity";
    TextView tokenView;
    ListView listView;
    ArrayList<NotificationClass> arrayNotifications = new ArrayList<>();
    ArrayAdapter<NotificationClass> adapter;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);

        tokenView = (TextView) findViewById(R.id.tokenText);
        listView = (ListView) findViewById(R.id.list_notification);
        adapter = new ArrayAdapter<NotificationClass>(this, android.R.layout.simple_list_item_1, arrayNotifications);

        if(arrayNotifications.isEmpty()){
           new AsyncLoadNotification().execute(0);
        }

        listView.setAdapter(adapter);
        getTokenFirebase();

    }

    @Override
    protected void onResume() {
        super.onResume();
        //TODO Clear all notification
        NotificationManager not = (NotificationManager) getSystemService(Context.NOTIFICATION_SERVICE);
        not.cancelAll();
        LocalBroadcastManager.getInstance(MainActivity.this).registerReceiver(broadcastReceiver, new IntentFilter("NOW"));
    }


    @Override
    protected void onPause() {
        super.onPause();
        LocalBroadcastManager.getInstance(MainActivity.this).registerReceiver(broadcastReceiver, new IntentFilter("NOW"));
    }





    private void getTokenFirebase() {
        FirebaseInstanceId.getInstance().getInstanceId()
                .addOnCompleteListener(new OnCompleteListener<InstanceIdResult>() {
                    @Override
                    public void onComplete(@NonNull Task<InstanceIdResult> task) {
                        if (!task.isSuccessful()) {
                            Log.w(TAG, "getInstanceId failed", task.getException());
                            return;
                        }
                        String token = task.getResult().getToken();
                        Log.d(TAG, token);
                        tokenView.setText(token);

                    }
                });
    }

    private BroadcastReceiver broadcastReceiver= new BroadcastReceiver() {
        @Override
        public void onReceive(Context context, Intent intent) {
            new AsyncLoadNotification().execute(0);
        }
    };


    //TODO If you need subscribe in topics, use this method
    private void subscribeTopicFirebase(String topic) {
        FirebaseMessaging.getInstance().subscribeToTopic(topic)
            .addOnCompleteListener(new OnCompleteListener<Void>() {
                @Override
                public void onComplete(@NonNull Task<Void> task) {
                    String msg = "Subscribe in topic correctly!";
                    if (!task.isSuccessful()) {
                    msg = "Failed to subscribed";
                    }

                    Log.d("Topic Information", msg);
                    Toast.makeText(MainActivity.this, msg, Toast.LENGTH_SHORT).show();
                }
            });
    }


    class AsyncLoadNotification extends AsyncTask<Integer,Void,Void>{

        @Override
        protected Void doInBackground(Integer... notifications) {
            NotificationDatabase db= NotificationDatabase.getInstance(getApplicationContext());
            arrayNotifications.clear();
            arrayNotifications.addAll(db.notificationDAO().getAll());



            runOnUiThread(new Runnable() {
                public void run() {
                    adapter.notifyDataSetChanged();
                }
            });
            return null;
        }
    }
    
}