'use strict';

var mqtt = require('mqtt')
var communicationTopic = '{{appName}}'
var mqttClient = require('./js/MqttClient');

{{#operations}}
var {{classname}} = require('../{{implFolder}}/{{classname}}Service');
{{/operations}}

var brokerAddress = '{{brokerAddress}}';
var clientID = "{{clientID}}";



var client = mqttClient.getMQTTClient(brokerAddress, clientID);

mqttClient.subscribeToTopic(communicationTopic);



mqttClient.setResponseFunction(function (topic, message) {
    console.log("Result received from MQTT by topic: " +topic)
    message= message.toString('utf8')
    var json = JSON.parse(message);
    var response= "";

      
       
        switch (json.resource){
        {{#lClass}}
            {{#operations}}   
            case '{{classname}}':
            console.log("New notification: {{classname}}");
                        
            switch(json.method){
            
                {{#operation}}
                case '{{nickname}}':
                    response = {{classname}}.{{nickname}}();
                    break;
                
                {{/operation}}
              
                default:
                    console.log("Resource method not supported: " + json.method);
                    response = {"response": "Resource method not supported"}
                    break;
            }
            break;
            {{/operations}}
        {{/lClass}}

            default:
               console.log("Api resource not supported");
               response = {"response": "Api resource not supported"};
               break;
    }
    
    console.log(response);
    client.publish(json.sender, JSON.stringify(response))

    //console.log(message)

});
