'use strict';

var mqtt = require('mqtt')
var communicationTopic = '{{appName}}'


var mqttClient;



function createClient(brokerAddress, clientId) {
    mqttClient = mqtt.connect(brokerAddress, { //broker server ip 
        clientId: clientId,
        protocolId: "MQIsdp",
        protocolVersion: 3,
        connectTimeout: 1000,
        debug: true,
    });

    mqttClient.on('connect', function () {
        console.log("Connected")
    })

    return mqttClient;
}


module.exports.getMQTTClient = function (brokerAddress, clientId) {
    return createClient(brokerAddress, clientId)
}

module.exports.subscribeToTopic = function (topic) {
    mqttClient.subscribe(topic)
}

module.exports.setResponseFunction = function (responseFunction) {
    mqttClient.on('message', responseFunction);
}