{
  "name": "{{projectName}}",
  "description": "{{{appDescription}}}",
  "main": "index.js",
  {{^googleCloudFunctions}}
  "scripts": {
    "prestart": "npm install",
    "start": "node index.js"
  },
  {{/googleCloudFunctions}}
  "keywords": [
    "OAI"
  ],
  "license": "Unlicense",
  "private": true,
  "dependencies": {
  {{^googleCloudFunctions}}
    "connect": "^3.2.0",
  {{/googleCloudFunctions}}
    "body-parser": "^1.18.3",
    "express": "^4.16.3",
    "js-yaml": "^3.3.0",
    "oas-tools": "^2.1.4"
  }
}
