'use strict';
const operators = require('./util/operators');

exports.aggregate =function (result, method){
    switch(method){
        {{#lClass}}
            {{#operations}}
                {{#operation}}
        case '{{nickname}}':
            {{#vendorExtensions.x-dac}}{{#operator}} result=operators.{{{name}}}(result);{{/operator}} {{/vendorExtensions.x-dac}}
            return result;
        break;
                {{/operation}}
            {{/operations}}
        {{/lClass}}
    }


}