'use strict';
var params = require('../util/parameters.js');
var sender = require('../managers/communication.js');
var body;

{{#operations}}
{{#operation}}
/**
 {{#summary}}
 * {{{summary}}}
 {{/summary}}
 {{#notes}}
 * {{{notes}}}
 {{/notes}}
 *
{{#allParams}}
 * {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
{{/allParams}}
{{^returnType}}
 * no response value expected for this operation
{{/returnType}}
{{#returnType}}
 * returns {{{returnType}}}
{{/returnType}}
 **/
var params{{{operationId}}}=[{{#allParams}}"{{paramName}}"{{#hasMore}},{{/hasMore}}{{/allParams}}];
var timeout{{{operationId}}}={{#vendorExtensions.x-dac}}{{#conditions}}{{{temporal}}};{{/conditions}} {{/vendorExtensions.x-dac}}
var devices{{{operationId}}}={{#vendorExtensions.x-dac}}{{#conditions}}{{{precision}}};{{/conditions}} {{/vendorExtensions.x-dac}}

module.exports.{{{operationId}}} = function(req, res, next) {

    body={}
    body=params.getParams(req,params{{{operationId}}})

    var id=sender.sendRequest(body,"{{{classname}}}","{{{operationId}}}", devices{{{operationId}}}, res);

    setTimeout(function(){
        sender.sendResult(id)
    }, timeout{{{operationId}}});


};

{{/operation}}
{{/operations}}