{{>licenseInfo}}
{{#operations}}

#include "{{classname}}.h"

{{#operation}}{{#responses}}{{#isModel}}#include "../models/{{dataType}}.h"{{/isModel}}{{/responses}}{{/operation}}

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

{{#hasModelImport}}
using namespace {{modelNamespace}};{{/hasModelImport}}

    {{classname}}::{{classname}}(MqttService *_mqttService) {
        mqttService = _mqttService;
    };

{{#operation}}
    void {{classname}}::{{operationId}} ({{#hasBodyParam}}{{#bodyParam}}{{#isListContainer}}{{{dataType}}} &_{{paramName}}, {{/isListContainer}}{{^isListContainer}}{{baseType}} &_{{paramName}}, {{/isListContainer}}{{/bodyParam}}{{/hasBodyParam}}{{#allParams}}{{^isBodyParam}}{{dataType}} &{{paramName}}, {{/isBodyParam}}{{/allParams}}char* &sender) {
        // TODO Mocked response
        Serial.println("Method: {{operationId}}");
        {{#responses}}
        {{#-first}}
        {{#isModel}}
        {{#isListContainer}}// TODO To be implemented: Model Array Response{{/isListContainer}}
        {{^isListContainer}}
        {{dataType}} res = {{dataType}}();
        mqttService->sendResponse(sender, (char*) JsonUtil::serialize{{dataType}}(res));
        {{/isListContainer}}
        {{/isModel}}
        {{^isModel}}
        {{#isListContainer}}
        std::vector<{{baseType}}> res;
        {{baseType}} obj = {{baseType}}();
        res.push_back(obj);
        mqttService->sendResponse(sender, (char*) JsonUtil::serialize{{baseType}}Array(res));
        {{/isListContainer}}
        {{^isListContainer}}mqttService->sendResponse(sender,"{{code}} {{message}}");{{/isListContainer}}
        {{/isModel}}
        {{/-first}}
        {{^-first}}
        // additional response of type {{dataType}} :     mqttService->sendResponse(sender,"{{code}} {{message}}");
        {{/-first}}
        {{/responses}}
    }
{{/operation}}

{{#apiNamespaceDeclarations}}
}
{{/apiNamespaceDeclarations}}

{{/operations}}
