{{>licenseInfo}}
{{#operations}}/*
 * {{classname}}.h
 *
 * {{description}}
 */

#ifndef {{classname}}_H_
#define {{classname}}_H_

// import models
{{#imports}}{{{import}}}
{{/imports}}

// import services
#include "../services/MqttService.h"

// import utils
#include "../utils/JsonUtil.h"

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

{{#hasModelImport}}
using namespace {{modelNamespace}};{{/hasModelImport}}

class {{classname}} {

    MqttService *mqttService;

public:
    {{classname}}(MqttService *_mqttService);

{{#operation}}
    void {{operationId}} ({{#hasBodyParam}}{{#bodyParam}}{{#isListContainer}}{{{dataType}}} &_{{paramName}}, {{/isListContainer}}{{^isListContainer}}{{baseType}} &_{{paramName}}, {{/isListContainer}}{{/bodyParam}}{{/hasBodyParam}}{{#allParams}}{{^isBodyParam}}{{dataType}} &{{paramName}}, {{/isBodyParam}}{{/allParams}}char* &sender);
{{/operation}}

};

{{#apiNamespaceDeclarations}}
}
{{/apiNamespaceDeclarations}}

#endif /* {{classname}}_H_ */

{{/operations}}
