{{>licenseInfo}}

#include <WiFi.h>
#include <PubSubClient.h>
// TODO If you are going to send and receive packages larger than 128B, MQTT_MAX_PACKET_SIZE needs to be changed in PubSubClient.h library. MQTT Max message size is 128B by default.
#include <ArduinoJson.h>

// import utils
#include "./src/utils/JsonUtil.h"

// import services
#include "./src/services/MqttService.h"

// import resources
{{#lClass}}#include "./src/resources/{{classname}}Resource.h"
{{/lClass}}

// import models
// TODO Change the relative path "../models/*" to "./src/models/*"
{{#lClass}}{{#imports}}{{{import}}}
{{/imports}}{{/lClass}}

using namespace org::openapitools::server::src::models;
using namespace org::openapitools::server::src::resources;

// TODO Put here the SSID and Password of your Wifi Network. MQTT server IP and port (default 1883). MQTT User and password if needed.
const char* ssid = "";
const char* password = "";
const char* mqttServer = "";
const int mqttPort = 1883;
const char* mqttUser = "";
const char* mqttPassword = "";

// TODO Listener topic by default
char* topicListener = "{{appName}}";

WiFiClient espClient;
PubSubClient client(espClient);

// declare and initialize MqttService
PubSubClient *clientPtr = &client;
MqttService mqttService(clientPtr);

// declare resource controllers
MqttService *mqttServicePtr = &mqttService;
{{#lClass}}{{classname}}Resource {{classname}}ResourceController(mqttServicePtr);
{{/lClass}}

void setup() {
    Serial.begin(115200);

    WiFi.begin(ssid, password);

    while (WiFi.status() != WL_CONNECTED) {
        delay(500);
        Serial.println("Connecting to WiFi..");
    }
    Serial.println("Connected to the WiFi network");

    client.setServer(mqttServer, mqttPort);
    client.setCallback(callback);

}

// ---- Function invoked every time a new message arrives to the topic.
void callback(char* topic, byte* payload, unsigned int length) {
    // PubSub Tasks
    Serial.print("MQTT. Message arrived in topic: ");
    Serial.println(topic);

    Serial.print("MQTT. Message:");
    for (int i = 0; i < length; i++) {
        Serial.print((char)payload[i]);
    }
    Serial.println();

    //Deserialize Json. Json stored in "doc" variable.
    Serial.println("Deserializating JSON");
    // Calculate your estimated Json capacity. If you don't know what capacity you should use, just use "lenght" (as parameter in this callback method) instead of "capacity"
    const size_t capacity = JSON_OBJECT_SIZE(1) + JSON_OBJECT_SIZE(3) + 2*JSON_OBJECT_SIZE(4) + 200;
    DynamicJsonDocument doc(capacity);
    DeserializationError err = deserializeJson(doc, payload, length);
    if (err) {
        Serial.print(F("deserializeJson() failed with code "));
        Serial.println(err.c_str());
    }

    Serial.print(F("Resource Type: "));
    const char* resource = doc["resource"];
    Serial.println(resource);
    Serial.print(F("Method: "));
    const char* method_ = doc["method"];
    Serial.println(method_);
    Serial.print(F("Sender ID: "));
    const char* sender_aux = doc["sender"];
    char* sender = (char*) sender_aux;
    Serial.println(sender);

    //----Resource selector
    {{#lClass}}
    {{#-first}}if (strcmp(resource,"{{classname}}")==0) { {{/-first}}{{^-first}}else if (strcmp(resource,"{{classname}}")==0) { {{/-first}}

        //----Method selector
        {{#operations}}
            {{#operation}}
            {{#-first}}if (strcmp(method_,"{{operationId}}")==0) { {{/-first}}{{^-first}}else if (strcmp(method_,"{{operationId}}")==0) { {{/-first}}
                {{#hasBodyParam}}{{#bodyParam}}
                {{#isListContainer}}
                {{{dataType}}} _{{paramName}} = JsonUtil::parse{{#items}}{{dataType}}{{/items}}Array(doc);
                {{/isListContainer}}
                {{^isListContainer}}
                {{baseType}} _{{paramName}} = JsonUtil::parse{{baseType}}(doc);
                {{/isListContainer}}
                {{/bodyParam}}{{/hasBodyParam}}
                {{#allParams}}{{^isBodyParam}}{{^isListContainer}}
                {{dataType}} {{paramName}} = doc["params"]["{{paramName}}"];
                {{/isListContainer}}{{/isBodyParam}}{{/allParams}}
                {{classname}}ResourceController.{{operationId}}({{#hasBodyParam}}{{#bodyParam}}_{{paramName}}, {{/bodyParam}}{{/hasBodyParam}} {{#allParams}}{{^isBodyParam}}{{paramName}},{{/isBodyParam}}{{/allParams}}sender);
            }
            {{/operation}}
        {{/operations}}
            else { // Default
                Serial.println("Resource method not supported.");
                mqttService.sendResponse(sender,"API Method not supported.");
            }

    }
    {{/lClass}}
    else {  //Default
        Serial.println("API resource not supported.");
        mqttService.sendResponse(sender,"API Resource not supported.");
    }
    Serial.println("-----------------------");
}

void loop() {
    // Check connection
    if (!client.connected()) {
        reconnect();
    }
    client.loop();
}

// Reconects to MQTT Broker. Program will block until the client reconnects
void reconnect() {
    while (!client.connected()) {
        Serial.println("Connecting to MQTT...");
        if (client.connect("ESP32Client", mqttUser, mqttPassword )) {
            Serial.println("connected");
        } else {
            Serial.print("failed with state ");
            Serial.print(client.state());
            delay(2000);
        }
    }

    // Subscribe/Re-subscribe to topic
    // TODO Define here the topics you are going to subscribe to
    client.subscribe(topicListener);
}