{{>licenseInfo}}

/*
    Json Parser. Takes key-values from a DynamicJsonDocument and creates the object.
    Source file.
*/

#include "JsonUtil.h"

using namespace org::openapitools::server::src;

{{#models}}{{#model}}
{{classname}} JsonUtil::parse{{classname}}(DynamicJsonDocument &json){
    {{classname}} _{{#lowercase}}{{classname}}{{/lowercase}}(
        {{#vars}}{{#isModel}}{{^isString}}{{^isNumeric}}parseInner{{dataType}}((JsonObject) {{/isNumeric}}{{/isString}}{{/isModel}}json["params"]["{{#lowercase}}{{classVarName}}{{/lowercase}}"]["{{nameInCamelCase}}"]{{#isModel}}{{^isString}}{{^isNumeric}}){{/isNumeric}}{{/isString}}{{/isModel}}{{^-last}}, {{/-last}}
        {{/vars}});

    return _{{#lowercase}}{{classname}}{{/lowercase}};
}
{{/model}}{{/models}}

{{#models}}{{#model}}
{{classname}} JsonUtil::parseInner{{classname}}(const JsonObject &json){
    {{classname}} _{{#lowercase}}{{classname}}{{/lowercase}}({{#vars}}{{#isModel}}{{^isString}}{{^isNumeric}}parseInner{{dataType}}((JsonObject) {{/isNumeric}}{{/isString}}{{/isModel}}json["{{nameInCamelCase}}"]{{#isModel}}{{^isString}}{{^isNumeric}}){{/isNumeric}}{{/isString}}{{/isModel}}{{^-last}}, {{/-last}}{{/vars}});

    return _{{#lowercase}}{{classname}}{{/lowercase}};
}
{{/model}}{{/models}}

{{#models}}{{#model}}
std::vector<{{classname}}> JsonUtil::parse{{classname}}Array(DynamicJsonDocument &json){
    std::vector<{{classname}}> array;
    JsonArray jsonArray = json["params"]["{{classname}}Array"];
    for (int i = 0; i < jsonArray.size(); ++i)
    {
        {{classname}} item = parseInner{{classname}}((JsonObject) jsonArray[i]);
        array.push_back(item);
    }
    return array;
}
{{/model}}{{/models}}

{{#models}}{{#model}}
const char* JsonUtil::serialize{{classname}}({{classname}} &obj){
    String json;
    DynamicJsonDocument doc(capacity);

    {{#vars}}
    {{^isModel}}
    {{#isListContainer}}// TODO Arrays?{{/isListContainer}}
    {{^isListContainer}}doc["{{nameInCamelCase}}"] = obj.{{getter}}();{{/isListContainer}}{{/isModel}}
    {{#isModel}}{{^isString}}{{^isNumeric}}{{dataType}} _{{#lowercase}}{{classVarName}}{{/lowercase}} = obj.{{getter}}();
    serializeInner{{dataType}}(doc, _{{#lowercase}}{{classVarName}}{{/lowercase}}, "{{nameInCamelCase}}");{{/isNumeric}}{{/isString}}{{/isModel}}
    {{/vars}}
    // TODO Arrays?

    serializeJson(doc, json);
    return json.c_str();
}
{{/model}}{{/models}}

{{#models}}{{#model}}
void JsonUtil::serializeInner{{classname}}(DynamicJsonDocument &doc, {{classname}} &obj, char* nestedVarName){
    JsonObject aux = doc.createNestedObject(nestedVarName);

    {{#vars}}
    {{^isModel}}
    {{#isListContainer}}// TODO Arrays?{{/isListContainer}}
    {{^isListContainer}}aux["{{nameInCamelCase}}"] = obj.{{getter}}();{{/isListContainer}}{{/isModel}}
    {{#isModel}}{{^isString}}{{^isNumeric}}{{dataType}} _{{nameInCamelCase}} = obj.{{getter}}();
    serializeInner{{dataType}}(doc, _{{nameInCamelCase}}, "{{nameInCamelCase}}");{{/isNumeric}}{{/isString}}{{/isModel}}
    {{/vars}}

}
{{/model}}{{/models}}

{{#models}}{{#model}}
const char* JsonUtil::serialize{{classname}}Array(std::vector<{{classname}}> &obj){
    String json;
    DynamicJsonDocument doc(capacity);

    for (int i = 0; i < obj.size(); ++i)
    {
        JsonObject doc_I = doc.createNestedObject();
        {{#vars}}
        {{^isModel}}doc_I["{{nameInCamelCase}}"] = obj[i].{{getter}}();{{/isModel}}
        {{#isModel}}{{^isString}}{{^isNumeric}}
        {{dataType}} aux = obj[i].{{getter}}();
        serializeInner{{dataType}}(doc, aux, "{{nameInCamelCase}}");{{/isNumeric}}{{/isString}}{{/isModel}}
        {{/vars}}
    }

    serializeJson(doc, json);
    return json.c_str();
}
{{/model}}{{/models}}