{{>licenseInfo}}

/*
    Json Parser. Converts and create objects from DynamicJsonDocument to a specific object defined in OpenAPI.
    This class only parses objects used in the field "params": "parse" methods recover objects directly from the field "params",
    while "parseInner" methods recover nested objects.

    This class hightly depends on ArduinoJson library from Arduino.
    Header file.
*/

#ifndef {{modelHeaderGuardPrefix}}_{{classname}}_H_
#define {{modelHeaderGuardPrefix}}_{{classname}}_H_

#include <Arduino.h>
#include <ArduinoJson.h>
{{#models}}{{#model}}
#include "../models/{{classname}}.h"{{/model}}{{/models}}

using namespace org::openapitools::server::src::models;

class JsonUtil {
    // Properties:
    static const size_t capacity = 1024; //Change accordingly to your data.
    // Methods
    public:
        // Parsing methods
    {{#models}}{{#model}}
        static {{classname}} parse{{classname}}(DynamicJsonDocument &json);{{/model}}{{/models}}
    {{#models}}{{#model}}
        static {{classname}} parseInner{{classname}}(const JsonObject &json);{{/model}}{{/models}}
    {{#models}}{{#model}}
        static std::vector<{{classname}}> parse{{classname}}Array(DynamicJsonDocument &json);{{/model}}{{/models}}

        // Serializing methods
    {{#models}}{{#model}}
        static const char* serialize{{classname}}({{classname}} &obj);{{/model}}{{/models}}
    {{#models}}{{#model}}
        static void serializeInner{{classname}}(DynamicJsonDocument &json, {{classname}} &obj, char* nestedVarName);{{/model}}{{/models}}
    {{#models}}{{#model}}
        static const char* serialize{{classname}}Array(std::vector<{{classname}}> &obj);{{/model}}{{/models}}

    private:
        // Disallow creating an instance of this object
        JsonUtil() {};
};

#endif /* {{modelHeaderGuardPrefix}}_{{classname}}_H_ */