{{>licenseInfo}}
{{#models}}{{#model}}/*
 * {{classname}}.h
 *
 * {{description}}
 */

#ifndef {{modelHeaderGuardPrefix}}_{{classname}}_H_
#define {{modelHeaderGuardPrefix}}_{{classname}}_H_

#include <Arduino.h>
{{#vars}}{{#isModel}}{{^isString}}{{^isNumeric}}{{^isDateTime}}#include "{{{dataType}}}.h"
{{/isDateTime}}{{/isNumeric}}{{/isString}}{{/isModel}}{{/vars}}

{{#modelNamespaceDeclarations}}
namespace {{this}} {
{{/modelNamespaceDeclarations}}

/// <summary>
/// {{description}}
/// </summary>
class {{declspec}} {{classname}} {
    // Properties
{{#vars}}
    {{^isInherited}}
    {{{dataType}}} {{nameInCamelCase}};
    {{/isInherited}}
{{/vars}}

    public:
        // Constructor
        {{classname}}();
        {{classname}}({{#vars}}{{#isModel}}{{^isString}}{{^isNumeric}}const{{/isNumeric}}{{/isString}}{{/isModel}} {{{dataType}}} _{{nameInCamelCase}}{{^-last}}, {{/-last}}{{/vars}});

        /////////////////////////////////////////////
        /// {{classname}} members

        {{#vars}}
        {{^isInherited}}
        /// <summary>
        /// {{description}}
        /// </summary>
        {{{dataType}}} {{getter}}();
        void {{setter}}({{{dataType}}} value);
        {{/isInherited}}

        {{/vars}}

};

{{#modelNamespaceDeclarations}}
}
{{/modelNamespaceDeclarations}}

#endif /* {{modelHeaderGuardPrefix}}_{{classname}}_H_ */
{{/model}}
{{/models}}
