{{>licenseInfo}}
{{#models}}{{#model}}

#include "{{classname}}.h"

{{#modelNamespaceDeclarations}}
namespace {{this}} {
{{/modelNamespaceDeclarations}}

//Constructors
{{classname}}::{{classname}}()
{
    {{#vars}}
    {{^isInherited}}
    {{^isContainer}}
    {{nameInCamelCase}} = {{{defaultValue}}};
    {{/isContainer}}
    {{/isInherited}}
    {{/vars}}
}
{{classname}}::{{classname}}({{#vars}}{{#isModel}}{{^isString}}{{^isNumeric}}const {{/isNumeric}}{{/isString}}{{/isModel}}{{{dataType}}} _{{nameInCamelCase}}{{^-last}}, {{/-last}}{{/vars}})
{
{{#vars}}
    {{nameInCamelCase}} = _{{nameInCamelCase}};
{{/vars}}
}

// Setters & Getters
{{#vars}}
{{^isInherited}}
{{{dataType}}} {{classname}}::{{getter}}()
{
    return {{nameInCamelCase}};
}

void {{classname}}::{{setter}}({{{dataType}}} value)
{
    {{nameInCamelCase}} = value;
}

{{/isInherited}}
{{/vars}}

{{#modelNamespaceDeclarations}}
}
{{/modelNamespaceDeclarations}}

{{/model}}
{{/models}}
