{{>licenseInfo}}

/*
MQTT Service wrapper.
Header file.
*/

#ifndef MQTTSERVICE_H_
#define MQTTSERVICE_H_

#include <Arduino.h>
#include <ArduinoJson.h>
#include <PubSubClient.h>

class MqttService {
    // Properties:
    PubSubClient *clientPtr;

    public:
        MqttService(PubSubClient* _clientPtr);

        // Methods
        void sendResponse(char* topic, char* payload);

};

#endif /* MQTTSERVICE_H_ */