{{>licenseInfo}}

/*
MQTT Service wrapper
Source file.
*/

#include "MqttService.h"

MqttService::MqttService(PubSubClient* _clientPtr){
    clientPtr = _clientPtr;
}

void MqttService::sendResponse(char* topic, char* payload) {
    if(clientPtr->publish(topic, payload,true)==true){
        Serial.println("Publish succeeded");
    }else{
        Serial.println("Publish failed");
    }
}